.navbar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
	margin-left: 30px;
	margin-right: 30px;
	padding-bottom: 30px;
	padding-top: 20px;
	background-color: rgb(136, 160, 50);
	border-radius: 10px;
}

.navColor {
	color: rgb(255, 255, 255);
}

.navColor:hover {
	color: rgb(0, 0, 0);
}

.title {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	align-items: center;
}

/* POSTS */
.postsGeneral {
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	background-color: rgb(250, 249, 249);
	border-radius: 5px;
}

.postCenter {
	text-align: center;
	align-items: center;
	padding-bottom: 20px;
	display: inherit;
}

.postDetails {
	display: flex;
	justify-content: space-between;
}
.postDetails h5 {
	margin-bottom: 0px;
}
.postDetails h6 {
	margin-top: 0px;
}

.postBody {
	text-align: center;
}

.readButton {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	padding-top: 0;
}
/* CREATE */
.createBlogTitle {
	text-align: center;
}

.createBlogInputs {
	width: 40%;
	justify-content: center;
	align-items: center;
	padding: 0 50px 0 50px;
}

.createBlogMeta {
	width: 80%;
	height: 10%;
	justify-content: center;
	align-items: center;
	padding: 0 50px 0 50px;
}

.createBlogBody {
	width: 80%;
	height: 10%;
	justify-content: center;
	align-items: center;
	padding: 0 50px 0 50px;
}

.createBlogOthers {
	justify-content: center;
	align-items: center;
	padding: 0 50px 0 50px;
}

.createBlogButton {
	text-align: center !important;
	transition-duration: 0.4s !important;
}

/* ADMIN */
.admin {
	text-align: center;
}

.admin button {
	cursor: pointer;
	display: inline-block;
	min-height: 1em;
	outline: 0;
	border: none;
	vertical-align: baseline;
	background: #e0e1e2 none;
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin: 0 0.25em 0 0;
	padding: 0.78571429em 1.5em 0.78571429em;
	text-transform: none;
	text-shadow: none;
	font-weight: 700;
	line-height: 1em;
	font-style: normal;
	text-align: center;
	text-decoration: none;
	border-radius: 0.28571429rem;
	box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
	-webkit-user-select: none;
	user-select: none;
	will-change: '';
	-webkit-tap-highlight-color: transparent;
}

.admin button:hover {
	background-color: rgb(34 36 38 / 25%);
}

/* OTHERS */

.grid-foto img {
	width: 10%;
}

.search-blog {
	margin-left: -10px;
	position: relative;
	width: 30%;
	text-align: center;
	border: 1px solid grey;
	box-shadow: -3px 3px #000;
	margin-left: 50px;
	margin-right: 100px;
	margin-top: 20px;
}

.myBlogs {
	position: relative;
	margin-bottom: 50px;
}

.deleteButton {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 50px;
}

/* LOGIN & REGISTER */

.login {
	width: 40%;
	margin: auto;
	padding-top: 50px;
}

.message {
	text-align: center;
	margin-top: 30px;
}

.register {
	margin: auto;
	padding-top: 50px;
	width: 40%;
}
